<manifest package="com.swifty.dragsquareimage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
    </application>

</manifest>
